<div class="container">
    <div class="row">
    <div class="col s6 offset-s3">
      <div class="card teal accent-4">
        <div class="card-content white-text">
          <span class="card-title">Горячая линия здравоохранения города Москвы</span>
          <p >+7 (495) 552-42-46</p>
        </div>
        <div class="card-action">
          <a class="white-text" href="#">Сайт</a>
        </div>
      </div>
    </div>
    <div class="col s6 offset-s3">
      <div class="card teal accent-4">
        <div class="card-content white-text">
          <span class="card-title">Горячая линия для родственников тяжелобольных людей</span>
          <p class="strong">+7 (495) 555-55-55</p>
        </div>
        <div class="card-action">
          <p class="white-text">Или напишите нам на почту:</p><a class="white-text" href="#">help@mail.ru</a>
        </div>
      </div>
    </div>
  </div>
</div>
