<div class="background">
  <div class="container">
    <div class="wrapHeader">
      <h1 class="blue-text title-head">Привет!</h1>
      <p class="title-head-text">Тебе необходимо пройти регистрацию или войти в личный кабинет для работы с ресурсом</p>

    </div>
  </div>
</div>
