<div class="container">
  <div class="row">
    <div class="tabs-wrapper">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s2"><a href="#test1">Карта</a></li>
          <li class="tab col s2"><a href="#test2">Опрос о состоянии</a></li>
          <li class="tab col s2"><a href="#test3">План ухода</a></li>
          <li class="tab col s2"><a href="#test4">Рекомендации</a></li>
          <li class="tab col s2"><a href="#test5">Расходные материалы</a></li>
          <li class="tab col s2"><a href="#test6">Календарь</a></li>
        </ul>
      </div>
      <div id="test1" class="col s12">Тут будет карта пациента</div>
      <div id="test2" class="col s12">Тут будет опрос</div>
      <div id="test3" class="col s12">Тут будет план ухода</div>
      <div id="test4" class="col s12">Тут будут рекомендации</div>
      <div id="test5" class="col s12">Тут будут расходные материалы</div>
      <div id="test6" class="col s12">Тут будет календарь</div>
    </div>
  </div>
</div>
