<div class="patient-wrapper">
  <div class="container">
      <div class="row">
    <button class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></button>
    <ul class="collection">
      <li class="collection-item avatar">
        <i class="material-icons circle green">assignment_ind</i>
        <span class="title">Имя</span>
        <span class="title">Фамилия</span>
        <a class="secondary-content waves-effect waves-light btn-small">Перейти к пациенту</a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">assignment_ind</i>
        <span class="title">Имя</span>
        <span class="title">Фамилия</span>
        <a class="secondary-content waves-effect waves-light btn-small">Перейти к пациенту</a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">assignment_ind</i>
        <span class="title">Имя</span>
        <span class="title">Фамилия</span>
        <a class="secondary-content waves-effect waves-light btn-small">Перейти к пациенту</a>
      </li>
    </ul>
  </div>
  </div>
</div>
